!!!
%html
  %head
    %title CatsGallery
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    .col-md-8.col-md-offset-2
      .navbar.navbar-default
        = link_to 'Messager', root_path, class: 'navbar-brand'
        .container-fluid
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'New Message', new_message_path
            %li= link_to 'Import messages to database', import_to_db_messages_path

    .col-md-8.col-md-offset-2
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert
      .col-md-6.col-md-offset-3
        = yield
